<?xml version="1.0" encoding="utf-8"?>
<bugx.talk xmlns="http://www.wavenet.be/bugx/talk/Settings.xsd">
  <network>
    <user>error@wavenet.be</user>
    <password>**************</password>
    <server>gmail.com</server>
    <networkHost>talk.google.com</networkHost>
  </network>
  <subscriptions>
    <subscription>olivier.bossaer@gmail.com</subscription>
  </subscriptions>
</bugx.talk>